* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #FAFAFA;
}

header {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 69px;
    background: #EC362D;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -------- Botão para criar o primeiro Quizz ------------*/
.create-first-quizz{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px dashed #D5D5D5;
    color: #B9B9B9;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    margin: 100px 17px 0;
}

.create-first-quizz span{
    padding: 40px 40px 25px 40px;
    text-align: center;
}

.create-first-quizz button{
    border: 1px dashed #EC362D;
    border-radius: 50px;
    color: #EC362D;
    background-color: transparent;
    width: 151px;
    height: 40px;
    font-size: 21px;
}

/* -------------- Botão para criar outros Quizzes ----------------- */
.create-quizz{
    height: 30px;
    width: 30px;
    color: #EC362D;
}

.create-first-quizz button:hover,
.create-quizz:hover{
    cursor: pointer;
}

/* -------------- Seção de Seus Quizzes ------------------ */
.my-quizzes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 340px;
}

/* -------------- Página do Quizz ------------------ */
.quizz-answering{
    margin-top: 69px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  Caixa de Pergunta  */
.question{
    height: auto;
    width: 375px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 13px;
}

/*  Título da pergunta  */
.question h4{
    height: 89px;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #434CA0;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    margin-top: 18px;
}

/*  Respostas  */
.answers{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.answer{
    margin: 6px;
}

.answer p{
    margin:0;
    margin-top: 5px;
    font-weight: 700;
    font-size: 13px;
}

.question img{
    height: 113px;
    width: 163px;
}

/* Imagem do Quizz que fica no topo da página ao entrar no Quizz */
.header-quizz{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/images/teste.jpg');
    height: 142px;
    background-size: cover;
    width: 100%;
    background-position: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-title{
    position: absolute;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 19px;
}

/* -------------- Botão para criar outros Quizzes ----------------- */
.create-quizz{
    height: 30px;
    width: 30px;
    color: #EC362D;
}

/* Espaçamento de outros Quizzes */
.other-quizzes {
    margin: 35px 17px 0;
}

/* Miniatura dos Quizzes */
.box {
    position: relative;
    width: 340px;
    height: 181px;
    margin-bottom: 14px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%), url('/images/teste.jpg');
    background-size: cover;
    border-radius: 5px;
}

/* Texto sobre o Quizz */
.title {
    position: absolute;
    bottom: 10%;
    left: 5%;
    word-break: break-word;
    color: #FFFFFF;
    margin-right: 30px;
}

.creation {
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
}

.creation button {
    margin-top: 29px;
    width: 90%;
    height: 54px;
    font-size: 18px;
    color: #FFF5F4;
    background: #EC362D;
    border: none;
    border-radius: 15px;
    margin-bottom: 30px;
}

/* Container branco para Perguntas, Níveis e setup geral do Quizz */
.container  {
    width: 100vw;
    height: auto;
    padding: 20px 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin: 30px auto 0;
    text-align: left;
}

span {
    margin: 0 20px;
}

.setup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.setup input {
    width: 90%;
    height: 46px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    outline: none;
    padding-left: 14px;
    font-size: 19px;
}

.questions {
    margin: 12px 0 28px;
}

/* Descrição do Quizz */
textarea {
    width: 90%;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    font-style: italic;
    font-weight: 400;
    outline: none;
    padding-left: 14px;
    font-size: 19px;
}

::placeholder {
    color: #BABABA;
}

input:invalid, textarea:invalid {
    background: #FFE9E9;
}

.hidden {
    display: none;
}

